doctype html
html
    head
        link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/styles.css")

        title Weather App
        block head

    body
        block content

        script(src='/vendor.js')
        script(src='/app.js')