<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <p class="flow-text">Weather in the near cities</p>
        </div>
        <div class="row">
            <table id="weather">
                <thead>
                <tr>
                    <th data-field="id">City</th>
                    <th data-field="name">Temperature</th>
                    <th data-field="price">Wind Speed</th>
                </tr>
                </thead>

                <tbody id="weather-body">

                </tbody>
                <tfoot id="weather-footer">
                <tr>
                    <td colspan="3">
                        <ul class="pagination">
                            <li><a href="#!" id="prev">Prev</a></li>
                            <li class="waves-effect" id="next"><a href="#!">Next</a></li>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div id="map"></div>
        </div>
    </div>
</body>
</html>