<table>
    <thead>
    <tr>
        <th>Date</th>
        <th (click)="changeDirection()">
            City
            <i class="material-icons">keyboard_arrow_{{sortDirection}}</i>
        </th>
        <th>Temperature (
            <a *ngFor="let m of temperatureMeasurements"
               href="#!"
               class="collection-item"
               (click)="changeTemperatureMeasurement(m)">
                {{m}}
            </a>)
        </th>
        <th>Clouds, %</th>
        <th>Wind Speed</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let city of page.list" [ngClass]="{'favorite': city.isFavorite}">
        <td>{{city.dt * 1000 | date: 'dd/MM/yyyy'}}</td>
        <td (click)="selectCity(city)">
            <a href="#!" class="collection-item">{{city.name}}</a>
        </td>
        <td>{{city.main.temp | temperature : sourceMeasurement : displayMeasurement}}</td>
        <td>{{city.clouds.all}}</td>
        <td>
            <wind-details [wind]="city.wind"></wind-details>
        </td>
        <td>
            <i class="material-icons delete" (click)="remove(city)">delete</i>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            <weather-pagination [current]="page.currentPage"
                                [total]="page.totalPages"
                                (onPage)="toPage($event)">
            </weather-pagination>
        </td>
    </tr>
    </tfoot>
</table>